.root {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 64px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.banner___6Z0U:global(.__wab_instance) {
  position: relative;
}
.img__wBsV0 {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__wBsV0 > picture > img {
  object-fit: cover;
}
.img__wBsV0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__yLqZc {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__gbfMr {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-oNQSCRm6FxBI);
  line-height: 1;
  height: auto;
}
.svg__yszNu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.text__qPipq {
  height: auto;
  width: auto;
  color: var(--token-xzKF_3ytGZEP);
}
.svg__zDoAc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.freeBox__pLgiA {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__pLgiA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pLgiA > :global(.__wab_flex-container) > *,
.freeBox__pLgiA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pLgiA > :global(.__wab_flex-container) > picture > img,
.freeBox__pLgiA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.img___2N1Mi {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img___2N1Mi > picture > img {
  object-fit: cover;
}
.img___2N1Mi > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__dECmV {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__wCyjn {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-oNQSCRm6FxBI);
  line-height: 1;
  height: auto;
}
.svg__n5XYw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.text__mU9Z {
  height: auto;
  width: auto;
  color: var(--token-xzKF_3ytGZEP);
}
.svg___6Tf0L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.banner__gShXe:global(.__wab_instance) {
  position: relative;
}
.img__uCglE {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__uCglE > picture > img {
  object-fit: cover;
}
.img__uCglE > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__kSmip {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__jxwkG {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-oNQSCRm6FxBI);
  line-height: 1;
  height: auto;
}
.svg__xTit5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.text__v4KN0 {
  height: auto;
  width: auto;
  color: var(--token-xzKF_3ytGZEP);
}
.svg__vWdbL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
