.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  max-width: var(--token-LYR95agRw);
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.rootlightBg {
  background: #ffffff40;
}
.freeBox__a7Wis {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__a7Wis > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__a7Wis > :global(.__wab_flex-container) > *,
.freeBox__a7Wis > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a7Wis > :global(.__wab_flex-container) > picture > img,
.freeBox__a7Wis
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a7Wis {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a7Wis > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a7Wis > :global(.__wab_flex-container) > *,
  .freeBox__a7Wis > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a7Wis > :global(.__wab_flex-container) > picture > img,
  .freeBox__a7Wis
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.logo__dw7Mc:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__vLx5W {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vLx5W > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vLx5W > :global(.__wab_flex-container) > *,
.freeBox__vLx5W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vLx5W > :global(.__wab_flex-container) > picture > img,
.freeBox__vLx5W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vLx5W > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vLx5W > :global(.__wab_flex-container) > *,
  .freeBox__vLx5W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vLx5W > :global(.__wab_flex-container) > picture > img,
  .freeBox__vLx5W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__yKvJl {
  position: relative;
  background: var(--token-pFkgER-AKuWb);
  color: var(--token-8t6AQVZzHEf6);
  border-radius: 24px;
  padding: 12px;
}
.button__z8ErL:global(.__wab_instance) {
  position: relative;
}
.svg__mw3Rz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg__maWqZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.button__hhPz:global(.__wab_instance) {
  position: relative;
}
.svg__jTeOt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg__glbD7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.button__se7Hq:global(.__wab_instance) {
  position: relative;
}
.svg__yAjy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg___3YwLi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.button__uawCz:global(.__wab_instance) {
  position: relative;
}
.svg__wKxsi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg__bWter {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.button__drwbJ:global(.__wab_instance) {
  position: relative;
}
.svg___0OnP4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg__j0Tu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.button__tH5U:global(.__wab_instance) {
  position: relative;
}
.svg__dZekF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg__ulTAx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.freeBox__aslRl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__n6XRf {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: var(--token-oNQSCRm6FxBI);
  border-radius: 6px;
  border-width: 0px;
}
.buttondark__n6XRf3YpJc {
  font-size: 18px;
  font-weight: 500;
  color: var(--token-oNQSCRm6FxBI);
  line-height: 28px;
  background: var(--token-2cPJ1QI0qehu);
  border-radius: 6px;
  padding: 12px 16px;
  border-width: 0px;
}
.button__oaZRb:global(.__wab_instance) {
  position: relative;
}
.svg__jms4Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
.svg___8JFht {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
}
