.root {
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid var(--token-xzKF_3ytGZEP);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootstartIcon {
  display: flex;
}
.rootcolors_green {
  background: #34c759;
}
.rootcolors_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.rootcolors_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolors_indigo > :global(.__wab_flex-container) > *,
.rootcolors_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolors_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolors_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolors_blue {
  background: var(--token-xzKF_3ytGZEP);
}
.rootcolors_red {
  background: var(--token-UBbs5nuQ7-nt);
}
.rootcolors_white {
  background: var(--token-WVCnb5gEJt38);
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootnoGap > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootnoGap > :global(.__wab_flex-container) > *,
.rootnoGap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootnoGap > :global(.__wab_flex-container) > picture > img,
.rootnoGap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.roottab_tabSelected {
  background: var(--token-xzKF_3ytGZEP);
}
.rootnoLabel {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootouline {
  border: 1px solid var(--token-pFkgER-AKuWb);
}
.rootdarkGray {
  background: var(--token-oNQSCRm6FxBI);
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.root:active {
  box-shadow: 0px 0px 24px 4px var(--token-xzKF_3ytGZEP);
}
.svg___3632F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
  flex-shrink: 0;
}
.slotTargetSlot {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.slotTargetSlotcolors_green {
  color: var(--token-WVCnb5gEJt38);
}
.slotTargetSlotcolors_indigo {
  color: var(--token-WVCnb5gEJt38);
}
.slotTargetSlotcolors_blue {
  color: var(--token-WVCnb5gEJt38);
}
.slotTargetSlotcolors_red {
  color: var(--token-WVCnb5gEJt38);
}
.slotTargetSlotlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetSlottab_tabSelected {
  color: var(--token-2cPJ1QI0qehu);
}
.slotTargetSlotlinkLabel {
  font-weight: 400;
  color: #007aff;
}
.slotTargetSlotnavLink {
  font-weight: 400;
  color: var(--token-XEy-tQANXH6D);
}
.slotTargetSlotdarkGray {
  color: var(--token-2cPJ1QI0qehu);
}
.slotTargetSlotdark {
  color: var(--token-2cPJ1QI0qehu);
}
.svg__eDLr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-XEy-tQANXH6D);
  flex-shrink: 0;
}
